.tariffHeight{
    height:150px;
}

@media (max-width: 767px) {
    .tariffHeight{
        height:110px;
    }
}

.colored_text {
    color: var(--main-color-price);
}

.price {
    color: #ffffff;
    background-color: var(--main-color-price);
}

.totalPrice {
    font-weight: bold;
    font-size: 14px;
}

